* {
    box-sizing: border-box;
}

body {
    background-image: url('../img/nightsky.jpg');
    color: white;
}

h1 { 
    color: #ffffff; 
    font-size: 8vmin;
    margin: 0 0 24px; 
    text-align: center; 
    text-transform: uppercase; 
}

h2 { 
    font-size: calc(0.5rem + 2.5vmin);
    margin: 0 0 24px; 
    text-align: center; 
    text-transform: uppercase;
}

fieldset {
    border: none;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.button {
    display: inline-block;
    padding: 1em 2em;
    margin: 0.5em;
    cursor: pointer;
    color: #292929;
    border-radius: 0.25em;
    background: #efefef;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
    transition: 0.3s;
    user-select: none;
}

.button1 {
    color: white; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.start {
    width: 75%;
    position: fixed;
    left: 50%;
    bottom: 40px;
    margin-left: -37.5%;
}

.center-me {
    height: 200px;
    text-align: center;
    padding-top: 30px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

img:hover {
    cursor:url(../img/mjolnir.cur),auto;
}

.avengers-logo {
    max-width: 10%;
    margin: 0 auto;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

.picture-select {
    display: flex;
    justify-content: center;
    align-items: center;
    /* calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    height: calc(200px + (400 - 100) * ((100vw - 320px) / (1600 - 300)));
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: 100%;
    height: 800px;
    max-height: 100%;
    z-index: 1010;
    background: white;
    color: black;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

.modal-guts {
    /* cover the modal */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;

    /* spacing as needed */
    padding: 20px 50px 20px 20px;

    /* let it scroll */
    overflow: auto;
    
}

.modal-guts .title {
    color: black;
    /* font-size: 30px; */
}

.modal-guts .body {
    color: black;
}

.modal-guts button {
    position: fixed;
    bottom: 0;
    text-align: center;
    margin: 5% auto;
}

.modal-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal.closed, 
.modal-overlay.closed, 
.hidden {
    display: none;
}

.picture-select.closed {
    visibility: hidden;
}

.results {
    position: fixed;
    margin: -190px 1px;
    right: 0;
    top: 50%;
    width: auto;
    background: rgba(26, 44, 48, 0.8);
    padding: 10px 10px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.all {
    background-image: url("../img/all.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.current {
    background-image: url("../img/current.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.no {
    background-image: url("../img/no.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.yes {
    background-image: url("../img/yes.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.button-wrap {
    position: relative;
    text-align: center;
    top: 50%;
    margin-top: -2.5em;
  }

.button-label {
    display: inline-block;
    cursor: pointer;
    color: #292929;
    border-radius: 0.25em;
    background: #efefef;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
    transition: 0.3s;
    user-select: none;
    h1 {
        /* font-size: 1em; */
        font-family: $font-stack;
      }
}

.button-label:hover {
    background: darken(#efefef, 10%);
    color: darken(#292929, 10%);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.32);
}

.button-label:active {
    transform: translateY(2px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0px -1px 0 rgba(0,0,0,0.22); 
}

.button-label-submit {
    background: #2ECC71;
    color: #efefef;
    display: inline-block;
    cursor: pointer;
    border-radius: 0.25em;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
    transition: 0.3s;
    user-select: none;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.button-label-submit:disabled {
    background-color: #bdc3c7;
    color: rgba(255, 255, 255, 0.75);
}

#radio1:checked + .button-label,
#radio2:checked + .button-label,
#radio3:checked + .button-label,
#radio4:checked + .button-label {
    background: #2ECC71;
    color: #efefef;
}

div.progress {
    padding: 30%;
}

.right {
    color: darkgreen;
}

.wrong {
    color: darkred;
}

.final-results {
    background: url('../img/question-correct.gif');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}