* {
    box-sizing: border-box;
}

body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    padding: 1em;
    height: 100vh;
}

.button-label, .button-label-submit {
    /* calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    padding: calc(6px + (26 - 14) * ((100vw - 320px) / (1600 - 320)));
    margin: calc(6px + (26 - 14) * ((100vw - 320px) / (1600 - 320)));
}

/* 
Grid Measurements:

    960px wide including 12 gutters (half gutters on both sides)

    60px columns (12)
    20px gutters (two half-gutters + 11 full gutters, so 12 total)

    For smaller screens, we always want 20px of padding on either side,
    so 960 + 20 + 20 => 1000px

*/

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
}